<div class="about-main">
  <%= image_tag 'menu-white.svg', alt: "Open", class: "icon-menu", id: "simple-menu", href: "#sidr" %>
  <div class="content container">
    <h1>Relive your favourite memories</h1>
  </div>
</div>

<div class="about-supporting">
  <div class="container">
    <h2>No more sorting through photos</h2>
    <p>"Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways."</p>
    <p><%= link_to "Sing up", contact_url, class: "btn btn-primary" %></p>
  </div>
</div>