<div class="contact-main">
  <%= image_tag 'menu-white.svg', alt: "Open", class: "icon-menu", id: "simple-menu", href: "#sidr" %>

  <div class="content container">
    <h1>Thanks. We'll be in touch.</h1>
  </div>
</div>