
form {
    text-align: left;
}

.form-group input {
    padding: 20px 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

.form-control {
  height: 34px;
}

.btn {
  display: block;
}

.form-control, .btn-default {
    background-color: rgba(255,255,255,0.8);
    border-radius: 0;
}

.form-group label {
    font-size: 16px;
    color: #fff;
}
