<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
        <ul>
          <li>
            <a href="/">Welcome</a>
          </li>
          <li>
            <a href="portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/">Blog</a>
          </li>
          <li>
            <a href="about">About</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          </li>
        </ul>
      </div>

      <div class="name col-xs-4">
        <h1>Daniel Moraes</h1>
      </div>
    </div
  </div>
</div>

<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>
        "Ahoy! My name is "
        <span class="hightlight">Daniel Moraes</span>
        " and I work with systems' infrastructure."        
      </h2>
      <a class="btn right" href="portfolio">View my Work</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li>
        <a class="github" href="#">Github</a>
      </li>
      <li>
        <a class="linkedin" href="#">Linkedin</a>
      </li>
      <li>
        <a class="twitter" href="#">Twitter</a>
      </li>
    </ul>

    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

    <p>© 2015 Daniel Moraes</p>

  </div>
</div>
